@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div>
    <label>Cantidad de citas del paciente: </label> @ViewBag.CitasPorPaciente
</div>

<div>
    <label>Cantidad de citas por Estado: </label> @ViewBag.CitasPorEstado
</div>

<div>
    <label>Cantidad de citas por Especialidad: </label> @ViewBag.CitasPorEspecialidad
</div>

<div>
    <label>Cantidad de citas entre estas fechas: </label>@ViewBag.CitasPorFecha
</div>

<div>
    <label>Pacientes con más citas: </label>@ViewBag.PacientesConMasCitas
</div>

<div>
    <label>Cantidad de veces que ha sido asignado el tratamiento: </label>@ViewBag.CantidadTratamiento
</div>

<div>
    <label>Monto promedio del tratamiento: </label>@ViewBag.Promedio
</div>